@import "/assets/global/base.css";

/* Define variables */
:root {
    --color-risk-critical: #fc0000;
    --color-risk-high: #ef7f07;
    --color-risk-medium: #f0d400;
    --color-risk-low: #0ab11b;
    --color-risk-info: #2886ea;

    --color-status-open: #ed0003;
    --color-status-partial: #f0d400;
    --color-status-resolved: #00e200;
    --color-status-accepted: #00e200;
    --color-status-changed: #009dff;

    --color-highlight: #88ee44;
}

/* Font settings */
html {
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
}

/* Classes for risk colors */
.risk-critical { color: var(--color-risk-critical) !important; font-weight: bold; }
.risk-high { color: var(--color-risk-high) !important; font-weight: bold; }
.risk-medium { color: var(--color-risk-medium) !important; font-weight: bold; }
.risk-low { color: var(--color-risk-low) !important; font-weight: bold; }
.risk-info { color: var(--color-risk-info) !important; font-weight: bold; }

.status-open { color: var(--color-status-open) !important; font-weight: bold; }
.status-partial { color: var(--color-status-partial) !important; font-weight: bold; }
.status-resolved { color: var(--color-status-resolved) !important; font-weight: bold; }
.status-accepted { color: var(--color-status-accepted) !important; font-weight: bold; }
.status-changed { color: var(--color-status-changed) !important; font-weight: bold; }

.highlight { color: var(--color-highlight); }


/* PDF-specific global styles */
@page {
    size: A4 portrait;
    margin: 35mm 26mm 26mm 26mm;
}

a {
    color: inherit;
    text-decoration: none;
}

pre code {
  background-color: whitesmoke;
  padding: 0.2em !important;
}

.location-ul {
    margin: 0;
    margin-bottom:0.2em;
}



/* #region header */
@page {
    margin-top: 35mm;

    --header-background-color: rgb(202, 208, 209);
    --header-margin-bottom: 5mm;

    @top-left-corner {
        content: "";
        margin-bottom: var(--header-margin-bottom);
        background-color: var(--header-background-color); 
    }
    @top-left { 
        content: element(header-left); 
        margin-bottom: var(--header-margin-bottom);
        background-color: var(--header-background-color); 
        width: 51%;
        margin-left: -1px;
        margin-right: -1px;
    }
    @top-right { 
        content: element(header-right); 
        margin-bottom: var(--header-margin-bottom);
        background-color: var(--header-background-color);  
        width: 51%;
        margin-left: -1px;
        margin-right: -1px;
    }
    @top-right-corner { 
        content: "";
        margin-bottom: var(--header-margin-bottom); 
        background-color: var(--header-background-color); 
    }
}
#header #header-left { position: running(header-left); }
#header #header-left {
    width: 60%;
}
#header #header-left img {
    width: auto;
    height: auto;
}
#header #header-right { 
    position: running(header-right); 
    text-align: right;
    color: white;
    font-size: 9pt;
}
/* #endregion header */

/* #region footer */
@page {
    @bottom-right-corner {
        /* Page number */
        content: counter(page) " / " counter(pages);
        font-size: 9pt;
    }
}
/* #endregion footer */

/* #region page-cover */
#page-cover {
    margin: -35mm -26mm 10mm -26mm;
}
#page-cover-background {
    width: 100%;
    height: 120mm;
    overflow: hidden;
    background-color: black;
}
#page-cover-background-img {
    width: 100%;
    transform: scale(1.16) translateY(-11%);
    opacity: 0.7;
}
#page-cover-logo {
    position: absolute;
    top: -30mm;
    left: -7mm;
    width: 50%;
}
#page-cover-logo-text {
    position: absolute;
    top: -12mm;
    left: 4mm;
    color: #ffffff;
}
#page-cover-infobox {
    position: absolute;
    top: 30mm;
    left: -1mm;
    width: 150mm;
    color: #ffffff;
}
#page-cover-title {
    font-size: 18pt;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.3em;
}
#page-cover-customer {
    position: absolute;
    top: 43mm;
    left: -1mm;
    width: 150mm;
    color: #ffffff;
}
#page-cover-contact {
    position: absolute;
    top: 46mm;
    right: 4mm;
    text-align: right;
    color: #ffffff;
}

@page :first {
    /* Hide header */
    @top-left-corner { content: none !important; }
    @top-left { content: none !important; }
    @top-center { content: none !important; }
    @top-right { content: none !important; }
    @top-right-corner { content: none !important; }
    /* Hide footer */
    @bottom-left-corner { content: none !important; }
    @bottom-left { content: none !important; }
    @bottom-center { content: none !important; }
    @bottom-right { content: none !important; }
    @bottom-right-corner { content: none !important; }
}
/* #endregion page-cover */

/* #region toc */
#toc li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toc .ref::before {
    padding-right: 0.5em;
}
#toc .ref::after {
    content: " " leader(" ") " " target-counter(attr(href), page);
    font-weight: normal;
}
#toc .toc-level1 {
  padding-left: 0;
  margin-top: 0.7rem;
  font-weight: bold;
}
#toc .toc-level2 {
  padding-left: 1.5rem;
  margin-top: 0.35rem;
  font-weight: normal;
}
#toc .toc-level3 {
  padding-left: 3rem;
  margin-top: 0.25rem;
  font-weight: normal;
}
#toc .toc-level4 {
  padding-left: 4.5rem;
  margin-top: 0;
  font-weight: normal;
}
/* #endregion toc */

/* #region findings-list */
.findings-list {
    counter-reset: finding-counter;
}
.findings-list .finding-title::before {
    counter-increment: finding-counter;
    content: counter(finding-counter) ". ";
}
/* #endregion findings-list */
